.resetPasswordForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    margin: auto;
  
    h2 {
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 10px;
        input {
          width: 100%;
          padding: 10px;
          margin-top: 5px;
          border-radius: 5px;
          border: 1px solid #ccc;
        }
      }
  
      button {
        padding: 10px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 10px;
  
        &:nth-of-type(2) {
          background-color: #ccc;
        }
      }
    }
  }
  