.signupPage {
  background-image: url('https://img.freepik.com/premium-photo/battleship-ghostly-digital-art-illustration_442940-8253.jpg');
  background-size: cover; /* Растягивает изображение, чтобы оно заполнило весь элемент */
  background-position: center; /* Центрирует изображение по горизонтали и вертикали */
  background-repeat: no-repeat; /* Отключает повтор изображения */
  width: 100%; /* Ширина контейнера */
  height: 100vh; /* Высота контейнера на весь экран */
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page > main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрирование по вертикали */
  align-items: center; /* Центрирование по горизонтали */
}
